@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap" rel="stylesheet">

<div class="text-center">
    <h1 class="display-4" style="font-family: 'Pixelify Sans', sans-serif; color: black; height:75vh; display:grid; place-content: center; font-size: 5rem;">Bienvenidos ULSB</h1>
</div>
<div>
                    <h1>Esta paguina te ayudara para agregar estudiantes, asiganar Cursos y hacer inscripciones</h1>
                </div>
